.reviewForm {
  border-radius: 10px;
  height: 500px;
  width: 500px;
  padding: 20px;
  margin: 10px;
  position: absolute;
  z-index: 10;
  background-color: lightgray;
}

.title {
  padding: 2px;
  margin: 10px;
}

.reviewFormTitle {
  padding: 2px;
  margin: 10px;
}

.reviewFormBody {
  margin: 10px;
  padding: 2px;
}

.reviewFormTitle {
  margin: 10px;
  padding: 2px;
}

.reviewFormRatings {
  margin: 10px;
  padding: 2px;
}

.reviewFormHelpful {
  margin: 10px;
  padding: 2px;
}
