.mainHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  border-color: black;
  border: solid;
}

.headerText {
  align-self: flex-end;
}

.profilePicture {
  height: 100px;
  width: 100px;
  border-color: black;
  border: solid;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  border-color: black;
  border: solid;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  border-color: black;
  border: solid;
}

.listingRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  border-color: black;
  border: solid;
}